<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="">
      <img
        src="https://img.icons8.com/fluent/48/000000/bakery.png"
        alt=""
        class="d-inline-block align-text-bottom"
      />
      The Bakery
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page" routerLink=""
            >Oven</a
          >
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
