<p>about works!</p>

<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>Who We Are.</h1>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Based In Mumbai</li>
          <li class="list-group-item">Love Nature</li>
          <li class="list-group-item">Get Involved</li>
        </ul>
      </div>
    </div>
    <div class="col-6">The page after its link is clicked</div>
  </div>
</div>
